{% extends "app/base_site.html" %}
{% block title %} Admin Login {% endblock title %}
{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}
{% block body_class %}login{% endblock body_class %}
{% block body %}
    <div class="login_wrapper">
      <div class="">
        <section class="login_content">
          <form method="post" class="form" a>
            <h1><i class="fa fa-wrench"></i> Admin Login </h1>
            <div>
              {% csrf_token %}
              <!--{{ form.as_p }}-->
              <form method="post">
              {% csrf_token %}
                {% if invalid %}
                <p>Invalid username or password, or you are not an Administrator.</p>
                {% endif %}
                <label>Username: </label>
                <input name="username" type="text">
                <br/>
                <label>Password: </label>
                <input name="password" type="password">
            <div>
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div class="clearfix"></div>
            <div class="separator">
              <p class="change_link"> A User?
                <a href="/accounts/login/" class="to_register"> <strong style="font-size: large">Login as a User </strong></a>
              </p>
              <div class="clearfix"></div>
              <br />
              <div>
                Powered by <a href="https://can-invest.org.uk"><img src="/static/images/CANLogo.png" height="48" width="180"/></a>
              </div>
            </div>
          </form>
            </div>
          </form>
        </section>
      </div>
    </div>
{% endblock body %}
