{% extends "app/base_site.html" %}
{% block title %} User Login {% endblock title %}
{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}
{% block body_class %}login{% endblock body_class %}
{% block body %}
    <div class="login_wrapper">
      <div class="">
        <section class="login_content">
          <form method="post" class="form" a>
            <h1><i class="fa fa-globe"></i> User Login </h1>
            <div>
              {% csrf_token %}
              {{ form.as_p }}
            </div>
            <div>
              <button type="submit" class="btn btn-primary">Login</button>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
              <p class="change_link">An administrator ?
                <a href="{% url 'adminLogin' %}"> <strong style="font-size: large">Login as an Administrator</strong> </a>
              </p>

              <div class="clearfix"></div>
              <br />

              <div>
                Powered by <a href="https://can-invest.org.uk"><img src="/static/images/CANLogo.png" height="48" width="180"/></a>
              </div>


            </div>
          </form>
        </section>
      </div>


    </div>


{% endblock body %}
