{% extends "app/base_siteAdmin.html" %}
{% load crispy_forms_tags %}
{% block title %} CAN Charity{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}

<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Create a new Charity</h3>
        </div>
      </div>

<form method="post" class="form">
  {% csrf_token %}
  
<table>
  {{form|crispy}}
</table>
<button type="submit">Submit Charity</button>
</form>



{% endblock content %}


{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %}
