<!-- DONE the template / Shichao-->

{% extends "app/base_siteAdmin.html" %}
{% load crispy_forms_tags %}
{% block title %} CAN Charity{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}

<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h1>Create a new Charity</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form method="post" action=".">
            <div class="x_panel">
              <div class="x_content">

                {% if form.has_errors %}
                <p>Your username and password didn't match. Please try again.</p>
                {% endif %}

                {% csrf_token %}
                <table>
                  {{form|crispy}}
                </table>
              </div>
            </div>
            <div class="submit-row" style="margin-left: 45%">
              <button type="submit" class="btn btn-primary"> add Charity </button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>







{% endblock content %}


{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %}
