{% extends "app/base_siteAdmin.html" %}

{% block title %} CAN Charity{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}

<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Create a new Charity</h3>
        </div>
      </div>

      {% if form.has_errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      <form method="post" action=".">

<table>
  {% csrf_token %}
  {{form.as_table}}
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="/" />
</form>








{% endblock content %}


{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %}
