{% extends "app/base_siteAdmin.html" %}
{% load crispy_forms_tags %}
{% block title %} Charity A {% endblock title %}

{% block stylesheets %}
  {{ block.super }}

<style>
  div.scrollblock {
    overflow: auto;
    white-space: nowrap;
  }
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  .empty-form {
    display: none;
  }
  /* RELATED FIELD ADD ONE / LOOKUP */
  form .related-widget-wrapper ul {
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
  }
  .clearable-file-input input {
    margin-top: 0;
  }
</style>

{% endblock stylesheets %}

{% block content %}

<head>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<!--<script type="text/javascript" src="/CANdashboard/dashboard/static/admin/js/core.js"></script>-->
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>
<script type="text/javascript" src="/static/admin/js/collapse.js"></script>
<script type="text/javascript" src="/static/admin/js/inlines.js"></script>
<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<form method="post">

      {% csrf_token %}
      <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Create a Survey</h3>
              </div>
            </div>

            <!-- General Part [Shichao / 3rd March] -->
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>General</h2>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                    <br/>

                    <!-- General -->

          <!--<form method="post">-->
            <!--{% csrf_token %}-->
             <!-- Title -->
                      <div class="form-group">
                        {{form|crispy}}
                        {{category|crispy}}
                      </div>
                    </div>
                </div>
              </div>
            </div>

            <div class="ln_solid"></div>

            <!-- Fields Part [Shichao / 3rd March] TODO -->
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Fields</h2>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <!-- horizontally scrolling panel -->
                    <div class="scrollblock">

                      <!-- TODO -->

                      <div class="js-inline-admin-formset inline-group" id="fields-group" data-inline-type="tabular" data-inline-formset="{&quot;name&quot;: &quot;#fields&quot;, &quot;options&quot;: {&quot;prefix&quot;: &quot;fields&quot;, &quot;addText&quot;: &quot;Add another Field&quot;, &quot;deleteText&quot;: &quot;Remove&quot;}}">
                        <div class="tabular inline-related last-related">
                          <!-- <input id="id_fields-TOTAL_FORMS" name="fields-TOTAL_FORMS" type="hidden" value="3" /><input id="id_fields-INITIAL_FORMS" name="fields-INITIAL_FORMS" type="hidden" value="0" /><input id="id_fields-MIN_NUM_FORMS" name="fields-MIN_NUM_FORMS" type="hidden" value="0" /><input id="id_fields-MAX_NUM_FORMS" name="fields-MAX_NUM_FORMS" type="hidden" value="1000" /> -->


                          <script id="theForm" type="x-tmpl-mustache">
                            <div class="x_panel">
                                    <div class="x_title">
                                      <h4>New Question</h4>
                                    </div>
                                    <div class="x_content">
                                       {{fields_form.management_form}}
                                       {{fields | crispy}}
                                    </div>
                                 </div>
                                 <div class="ln_solid"></div>
                          </script>

                          <script type="text/javascript">
                              var counter = 1;
                              var limit = 20;
                              var theform = document.getElementById('theForm').innerHTML;
                              function addInput(divName){
                                   if (counter == limit)  {
                                        alert("You have reached the limit of adding " + counter + " questions");
                                   }
                                   else {
                                        var newdiv = document.createElement('div');
                                        newdiv.innerHTML = theform;
                                        document.getElementById(divName).appendChild(newdiv);
                                        counter++;
                                   }
                              }
                          </script>

{{fields.management_form}}

                          <!-- <form method="post"> -->
                               <div id="dynamicInput">
                                 <div class="x_panel">
                                    <div class="x_title">
                                      <h4>Question 1</h4>
                                    </div>
                                    {% for field in fields %}
                                    <div class="x_content">

                                       {{field | crispy}}

                                    </div>
                                    {% endfor %}
                                 </div>
                                 <div class="ln_solid"></div>
                               </div>
                               <input type="button" value="Add another question" onClick="addInput('dynamicInput');" class="btn btn-primary">
                          <!-- </form> -->


                        </div>

                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- buttons row -->
            <div class="ln_solid"></div>
            <div class="submit-row" style="margin-left: 25%">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <button type="button" class="btn btn-success">Save and add another</button>
                  <button type="button" class="btn btn-info">Save and continue editing</button>
            </div>
            <br/>
          </div>
      </div>


</form>



{% endblock content %}


{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %}
