{% extends "app/base_siteAdmin.html" %}
{% load crispy_forms_tags %}
{% block title %} Charity A {% endblock title %}

{% block stylesheets %}
  {{ block.super }}

<style>
  div.scrollblock {
    overflow: auto;
    white-space: nowrap;
  }
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  .empty-form {
    display: none;
  }
  /* RELATED FIELD ADD ONE / LOOKUP */
  form .related-widget-wrapper ul {
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
  }
  .clearable-file-input input {
    margin-top: 0;
  }
</style>

{% endblock stylesheets %}

{% block content %}

<head>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<!--<script type="text/javascript" src="/CANdashboard/dashboard/static/admin/js/core.js"></script>-->
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>
<script type="text/javascript" src="/static/admin/js/collapse.js"></script>
<script type="text/javascript" src="/static/admin/js/inlines.js"></script>
<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<form method="post">

      {% csrf_token %}
      <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Create a Survey</h3>
              </div>
            </div>

            <!-- General Part [Shichao / 3rd March] -->
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>General</h2>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                    <br/>

                      <div class="form-group">
                        {{forms|crispy}}
                        {{category|crispy}}
                      </div>
                    </div>
                </div>
              </div>
            </div>

            <div class="ln_solid"></div>

            <!-- Fields Part [Shichao / 3rd March] TODO -->
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Fields</h2>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <!-- horizontally scrolling panel -->
                    <!--<div class="scrollblock">-->

                      <!-- TODO -->


                          <!-- <script id="theForm" type="x-tmpl-mustache">
                            <div class="x_panel">
                                    <div class="x_title">
                                      <h4>New Question</h4>
                                    </div>
                                    <div class="x_content">
                                       {{fields | crispy}}
                                       {{fields.g}}
                                    </div>
                                 </div>
                                 <div class="ln_solid"></div>
                          </script> -->

{{fields.management_form}}

                          <!-- <script type="text/javascript">
                              var counter = {{fields.total_form_counter}};
                              var limit = 20;
                              var theform = document.getElementById('theForm').innerHTML;
                              function addInput(divName){
                                   if (counter == limit)  {
                                        alert("You have reached the limit of adding " + counter + " questions");
                                   }
                                   else {

                                        var newdiv = document.createElement('div');
                                        newdiv.innerHTML = theform;
                                        document.getElementById(divName).appendChild(newdiv);
                                        counter++;
                                        var form = '{{fields.empty_form|escapejs}}'.replace(/__prefix__/g, counter);
                                        $('#fields.forms').append(form)
                                        $('#id_form-TOTAL_FORMS').val(form_count);
                                   }

                              }
                          </script> -->

                          <script type="text/javascript"
                          src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js">
                          </script>

                               <div id="dynamicInput">
                                 <div class="x_panel">
                                    <div class="x_title">
                                      <h4>Question 1</h4>
                                    </div>
                                    <div class="x_content">
                                       {{fields | crispy}}
                                    </div>
                                 </div>
                                 <div class="ln_solid"></div>
                               </div>
                               <input id="add" type="button" value="Add another question" class="btn btn-primary">

<script>

$(document).ready(function () {
    // Code adapted from http://djangosnippets.org/snippets/1389/
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+-)');
        var replacement = prefix + '-' + ndx + '-';
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
        replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function deleteForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (formCount > 1) {
            // Delete the item/form
            $(btn).parents('.item').remove();
            var forms = $('.item'); // Get all the forms
            // Update the total number of forms (1 less than before)
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            var i = 0;
            // Go through the forms and set their indices, names and IDs
            for (formCount = forms.length; i < formCount; i++) {
                $(forms.get(i)).children().children().each(function () {
                    if ($(this).attr('type') == 'text') updateElementIndex(this, prefix, i);
                });
            }
        } // End if
        else {
            alert("You have to enter at least one todo item!");
        }
        return false;
    }

    function addForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        // You can only submit a maximum of 10 todo items
        if (formCount < 10) {
            // Clone a form (without event handlers) from the first form
            var row = $(".item:first").clone(false).get(0);
            // Insert it after the last form
            $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);

            // Remove the bits we don't want in the new row/form
            // e.g. error messages
            $(".errorlist", row).remove();
            $(row).children().removeClass("error");

            // Relabel or rename all the relevant bits
            $(row).children().children().each(function () {
                updateElementIndex(this, prefix, formCount);
                $(this).val("");
            });

            // Add an event handler for the delete item/form link
            $(row).find(".delete").click(function () {
                return deleteForm(this, prefix);
            });
            // Update the total form count
            $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
        } // End if
        else {
            alert("Sorry, you can only enter a maximum of ten items.");
        }
        return false;
    }
    // Register the click event handlers
    $("#add").click(function () {
        return addForm(this, "fields");
    });

    $(".delete").click(function () {
        return deleteForm(this, "form");
    });
});

</script>

                        <!--</div>-->

                      </div>

                    </div>
                  </div>

                </div>


              <!-- buttons row -->
            <div class="ln_solid"></div>
            <div class="submit-row" style="margin-left: 25%">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <button type="button" class="btn btn-success">Save and add another</button>
                  <button type="button" class="btn btn-info">Save and continue editing</button>
            </div>
            <br/>


              </div>
            </div>




</form>

<script type="text/javascript">
  $(function() {
    $('#dynamicInput').formset({
      prefix: '{{ fields.prefix }}'
    });
  })
</script>


{% endblock content %}


{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %}
