
{% extends "app/base_siteAdmin.html" %}
{% load crispy_forms_tags %}

{% block title %} Charity A {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}

<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Account Details</h3>
        </div>
      </div>

      <!-- General Part [Shichao / 3rd March] -->
      <div class="clearfix"></div>

<form method="post">
{%csrf_token%}
{{form|crispy}}
  <button type="submit">Submit</button>
</form>

</div>
</div>

{% endblock content %}


{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %}
