{% extends "app/base_siteAdmin.html" %}
{% load crispy_forms_tags %}
{% block title %} Setting {% endblock title %}
{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}
{% block content %}
<form method="post">
<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h1>Account Details</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
                {%csrf_token%}
                <table>
                  {{form|crispy}}
                </table>
            </div>
          </div>
        </div>
      </div>
      <div class="submit-row" style="margin-left: 45%">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
</div>
</form>

{% endblock content %}
{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %}
