{% extends "app/base_site.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h1> Charities List </h1>
        </div>
      </div>

      <div class="clearfix"></div>

      <!-- spider chart -->
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th> Charity Name </th>
                    <th> Country </th>
                    <th> may be another attribute </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td> Charity A </td>
                    <td> UK </td>
                    <td> lalala </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td> Charity B </td>
                    <td> France </td>
                    <td> lalala </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td> Charity C </td>
                    <td> Germany </td>
                    <td> lalala </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %}
