{% extends "app/base_siteAdmin.html" %}

{% block title %} Inbox {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
    <!-- bootstrap-wysiwyg -->
    <link href="/static/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">

      <div class="page-title">
        <div class="title_left">
          <h1> Messages Inbox </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_content">
                {% for messages in lk%}
                <div class="col-sm-9 mail_view">
                  <div class="inbox-body">
                    <div class="mail_heading row">
                      <div class="col-md-8">
                        <div class="btn-group">
                          <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-reply"></i> Reply</button>
                          </div>
                      </div>
                      <div class="col-md-4 text-right">
                        <p class="date"> {{messages.sent_at}}</p>
                      </div>
                      <div class="col-md-12">
                        <h4> {{messages.sender}}</h4>
                      </div>
                    </div>
                    <div class="sender-info">
                      <div class="row">
                        <div class="col-md-12">
                        </div>
                      </div>
                      <p> {{messages.content}}<p>
                    </div>
                  </div>
                  <br>

                </div>
              {%endfor%}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
