{% extends "app/base_siteUser.html" %}
{% load crispy_forms_tags %}
{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h1> Filter And Manipulate Entries </h1>
      </div>
    </div>



      <!-- Search Block -->
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h3> View Entries </h3>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <form method="post" class="form">

                <!-- TODO add search block -->



              </form>
            </div>
          </div>
        </div>
      </div>


      <div class="submit-row" style="margin-left: 45%">
          <button type="button" class="btn btn-primary">View</button>
      </div>
      <br/>



      <!-- Result Block -->
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h3> Entries Results </h3>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <form method="post" class="form">


                <!-- TODO add Results block -->


              </form>
            </div>
          </div>
        </div>
      </div>





      <div class="submit-row" style="margin-left: 45%">
          <button type="button" class="btn btn-primary">Delete</button>
      </div>

  </div>
</div>


<!--          <div>
            {% csrf_token %}
            <table>
              {{ entry.as_table }}
            </table>
            <table class="table table-striped">
              <thead>
                {% for q in questions %}
                <tr>
                  <th>#</th>
                  <th>{{questions}}</th>
                </tr>
              </thead>
              {% endfor %}
              <tbody>
                {% for s in form %}
                  <tr>
                    <th scope="row">1</th>
                    <td>{{s.value}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>-->







{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}
