{% extends "app/base_site.html" %}

{% block title %} Charity A {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}

<div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
          <H1> Charity A </H1>
            <p>some description</p>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %}


