<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="/accounts/login/" class="site_title"><i class="fa fa-circle-o-notch"></i> <span>Sign In</span></a>
  </div>

  <div class="clearfix"></div>


  <br />

    <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a href="/"><i class="fa fa-home"></i> Home </a>
        </li>
        <li><a><i class="fa fa-group"></i> Charities <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/charity_list/">Charities List</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> Surveys <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/survey_list/">Surveys Square</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-question-circle"></i> Support <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="#">Audience Help: Using CanDashboard</a></li>
            <li><a href="#">User Help: Using CanDashboard</a></li>
            <li><a href="#">Administrator Help: Using CanDashboard</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-paper-plane"></i> Useful Links <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="#">CAN website</a></li>
            <li><a href="#">Maybe other CAN websites</a></li>
            <li><a href="http://www.facebook.com/sharer.php?u=https://127.0.0.1:8000">Post to Facebook</a></li>
            <li><a href="https://twitter.com/intent/tweet?text=http://127.0.0.1:8000">Post to Twitter</a></li>
            <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://127.0.0.1:8000">Post to Linkedin</a></li>
            <li><a href="mailto:?Subject=CAN email&amp;Body=Link%20here%20 https://127.0.0.1:8000">Send Email</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
   <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="/logout/">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
