{% extends "app/base_siteAdmin.html" %}
{% load crispy_forms_tags %}
{% load forms_builder_tags %}
{% block title %} Survey {% endblock title %}
{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}
{% block content %}
<div class="right_col" roe="main">
    <div class="">
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_content">
              <form method="post">
                {%csrf_token%}
                {% render_built_form form %}
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock content %}
{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %}