{% extends "app/base_siteUser.html" %}
{% load crispy_forms_tags %}

{% block title %} Charity {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}

<div class="right_col" roe="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <!-- TODO need to be changed to the real survey title -->
          <h3> Survey Title </h3>
        </div>
      </div>

      <!-- General Part [Shichao / 3rd March] -->
      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_content">

              <form method="post">
                {%csrf_token%}
                {{form_for_form|crispy}}
                <button type="submit">Submit</button>
              </form>

            </div>
          </div>
        </div>
      </div>


  </div>
</div>

{% endblock content %}


{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %}
