certifi==2018.1.18
dj-database-url==0.5.0
Django==1.10.8
django-admin-view-permission==1.6
django-crispy-forms==1.7.2
django-directmessages==0.9.7
django-email-extras==0.3.3
django-forms-builder==0.14.0
django-heroku==0.3.1
future==0.15.0
gunicorn==19.7.1
more-itertools==4.1.0
pipenv==11.9.0
psycopg2==2.7.4
python-gnupg==0.4.2
pytz==2018.3
six==1.11.0
sphinx-me==0.3
Unidecode==1.0.22
virtualenv==15.1.0
virtualenv-clone==0.3.0
whitenoise==3.3.1
